.rowForm {
	display:block;
	text-align:left;
	padding:5px 30px;
}

.rowForm:first-child {
	padding-top:15px;
}

.rowForm select {
	width:262px;
}

.rowForm #rules {
	margin:7px 0 2px 0;
	padding:0;
}

.rowForm input[type="text"],
.rowForm input[type="password"],
.rowForm input[type="email"] {
	width:250px;
}

.rowForm label {
	display:block;
	float:left;
	width:140px;
	margin:6px 0 7px;
	text-align:left;
}

.rowForm span.text {
	display:block;
	margin:6px 0 7px;
	text-align:left;
}

#captchaRow label {
	margin-bottom:70px;
}

.rowForm .inputDesc{
	display:block;
	font-size:11px;
	padding:1px 0 0 2px;
	overflow:hidden;
}

.rowForm label + .inputDesc{
	padding-top:5px;
}
