# pr0game editorconfig

root = true

[*]
trim_trailing_whitespace = true
insert_final_newline     = true
end_of_line              = lf
charset                  = utf-8

[*.php]
indent_size              = 4
indent_style             = space

[*.{css,html,js,json,sh,sql,tpl,xml,yaml,yml}]
indent_size              = 2
indent_style             = space
